body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/174/136/original/pexels-i-layda-mutlu-61452084-32478366.jpg?1758696277");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  background-color: #9aa781d2;
  margin: 80px auto;
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  color: #202e07;
}
.App .toggle {
  text-align: end;
  margin-right: 30px;
}
.App .unit-label {
  font-size: 24px;
  font-weight: 300;
  position: relative;
  top: 6px;
  color: #394e17;
  margin: 5px 10px 0px 5px;
}
.App .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.App .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.App .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f0eee2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.App .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6a7f3f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.App input:checked + .slider {
  background-color: #6a7f3f;
}

.App input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.App input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.App .slider.round {
  border-radius: 34px;
}

.App .slider.round:before {
  border-radius: 50%;
}
.App .submit-input {
  background-color: #f0eee2;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: #6a7f3f;
}
.App .search-input {
  background-color: #f0eee2;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px 10px 5px;
}
::placeholder {
  color: #6a7f3f;
}
.App form {
  margin-left: 20px;
  margin-top: 15px;
}
.App footer {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
.App a {
  color: #49621e;
  text-decoration: none;
}
.App .info-section {
  text-align: center;
  margin-top: 30px;
  line-height: 2;
}
.App li {
  list-style: none;
}
.App h1 {
  margin-bottom: 15px;
  font-size: 40px;
}
.App .current-temp {
  font-size: 60px;
  position: relative;
  bottom: 15px;
}
.App .unit {
  font-size: 18px;
  position: relative;
  bottom: 45px;
}
.App .weather-icon {
  position: relative;
  bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
}
.App ul {
  padding-left: 0;
}
.App .date {
  font-size: 18px;
  font-weight: 400;
}
.App .temp {
  display: inline-block;
}
.App .icon-and-temp {
  margin-top: 25px;
}
.App .right-side {
  font-size: 20px;
  margin-top: 15px;
}
.App .today-info {
  border: dotted 2px #6a7f3f;
  border-radius: 20px;
  padding-top: 50px;
  margin: 0px 30px 40px 30px;
  background-color: #5e783095;
}
.App .date {
  margin-bottom: 15px;
}
.App .forecast-icon {
  display: block;
  margin: 15px auto 10px;
  width: 90px;
}
.App .forecast {
  background-color: #5e783095;
  padding: 20px 0px;
  margin: 0px 30px 40px 30px;
  border: dotted 2px #6a7f3f;
  border-radius: 20px;
  text-align: center;
}
.App .question-cat {
  display: block;
  margin: 0 auto;
}
.App .error-field {
  background-color: #5e783095;
  padding: 20px 0px;
  border: dotted 2px #6a7f3f;
  border-radius: 20px;
  margin: 40px 20px;
}
@media screen and (max-width: 768px) {
  body {
    background-size: auto;
  }
  .App {
    max-width: 500px;
    padding: 10px;
    margin: 50px 20px;
  }
  .App .submit-input {
    max-width: 80px;
    margin: 10px;
  }
  .App .search-input {
    max-width: 150px;
    margin: 10px;
  }
  .App h1 {
    font-size: 28px;
  }
  .App .date {
    font-size: 15px;
  }
  .App .right-side {
    font-size: 16px;
    margin-top: -15px;
  }
  .App .weather-icon {
    width: 80px;
  }
  .App .current-temp {
    font-size: 50px;
  }
  .App .today-info {
    margin: 30px;
    padding-top: 10px;
  }
  .App footer {
    margin: 15px 35px;
    font-size: 12px;
  }
  .App .forecast-icon {
    width: 70px;
  }
  .App .forecast-temps {
    margin-bottom: 15px;
  }
  .App .forecast-day {
    border-bottom: dotted 2px #5d7036;

    margin-top: 10px;
  }
  .App .unit {
    font-size: 13px;
    bottom: 42px;
  }
  .App .error-field h1 {
    font-size: 20px;
  }
  .App .error-field img {
    width: 200px;
    margin: 30px auto;
  }
}
