.App {
  background-color: #c3d0a8;
  margin: 80px auto;
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
  color: #202e07;
}
.App .submit-input {
  background-color: #f0eee2;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: #6a7f3f;
}
.App .search-input {
  background-color: #f0eee2;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px 10px 5px;
}
::placeholder {
  color: #6a7f3f;
}
.App form {
  margin-left: 20px;
  margin-top: 15px;
}
.App footer {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
.App a {
  color: #5e7830;
  text-decoration: none;
}
.App .info-section {
  text-align: center;
  margin-top: 30px;
  line-height: 2;
}
.App li {
  list-style: none;
}
.App h1 {
  margin-bottom: 15px;
}
.App .current-temp {
  font-size: 60px;
  position: relative;
  bottom: 15px;
}
.App .unit {
  font-size: 18px;
  position: relative;
  bottom: 45px;
}
.App .weather-icon {
  position: relative;
  bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
}
.App ul {
  padding-left: 0;
}
.App .date {
  font-size: 18px;
  font-weight: 400;
}
.App .temp {
  display: inline-block;
}
.App .icon-and-temp {
  margin-top: 25px;
}
.App .right-side {
  font-size: 20px;
  margin-top: 15px;
}
.App .today-info {
  border: dotted 2px #6a7f3f;
  border-radius: 20px;
  padding-top: 50px;
  margin: 0px 30px 40px 30px;
  background-color: #5e783072;
}
.App .date {
  margin-bottom: 15px;
}
.App .forecast-icon {
  display: block;
  margin: 15px auto 10px;
  width: 90px;
}
.App .forecast {
  background-color: #5e783072;
  padding: 20px 0px;
  margin: 0px 30px 40px 30px;
  border: dotted 2px #6a7f3f;
  border-radius: 20px;
  text-align: center;
}
.App .question-cat {
  display: block;
  margin: 0 auto;
}
.App .error-field {
  background-color: #5e783072;
  padding: 20px 0px;
  border: dotted 2px #6a7f3f;
  border-radius: 20px;
  margin: 40px 20px;
}
